{% extends 'main_page.html' %}
{% block title %} Home page{% endblock title %}
{% block body_content %}
{% load static%}

        <!-- ***** drinks Area Starts ***** -->
        <section class="section  container" id="menu">
            <h1 class="text-center">DRINKS</h1>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                  <div class="card">
                    <img src="{% static 'assets/images/drks1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Smoothie</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="{% static 'assets/images/about-thumb-02.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Soda</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                      </div>
                    </div>
                  </div>
                <div class="col">
                  <div class="card">
                    <img src="{% static 'assets/images/drks2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Parfait</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="{% static 'assets/images/tab-item-03.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Mocktail</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              </div>
        </section>
        <!-- ***** Drinks Area Ends ***** -->

{% endblock body_content %}