{% extends 'password_main_page.html' %}
{% block title %} Password Change Done {% endblock title %}
{% block body_content %}
{% load static%}

    <section id="home" class="slider-area mt-5 pt-5 container">
        <h1>Password Change Done</h1>
        <div class="container-fluid position-relative">
            <div class="slider-active">
                <div class="single-slider">
                    <div class="slider-bg">
                    
                    <p class="col-md-6 col-lg-6 col-xxl-6 col-sm-12 col-xm-12">
                       Password Change Successfully
                    </p>
                </div> <!-- row -->
            </div> <!-- contact box -->
        </div> <!-- container -->
    </section>
    

{% endblock body_content %}