{% extends 'password_main_page.html' %}
{% block title %} Password Change Form {% endblock title %}
{% block body_content %}
{% load static%}

    <section id="home" class="slider-area mt-5 pt-5 container">
        <h1 class="m-4">Password Change Form</h1>
        <div class="container-fluid position-relative mt-4">
            <div class="slider-active">
                <div class="single-slider">
                    <div class="slider-bg">
                    <form method="POST">
                        {% csrf_token %}
                        {% comment %} since we have bootstrap installed, we don't need this form anymore {% endcomment %}
                        {{form.as_p}}

                        {% comment %} {% load bootstrap %}
                        {{form |bootstrap_horizontal:'col-lg-6'}} {% endcomment %}
                        <div class="d-flex justify-content-center"></div>
                        <input class="bc-white mt-2 ml-2 loginbutton" type="submit" value="Change password">
                    </form>
                    </div> 
                
                </div> <!-- row -->
            </div> <!-- contact box -->
        </div> <!-- container -->
    </section>

{% endblock body_content %}